<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= @diagnosis.patient %>
</p>

<p>
  <strong>Heart rate:</strong>
  <%= @diagnosis.heart_rate %>
</p>

<p>
  <strong>Bp:</strong>
  <%= @diagnosis.bp %>
</p>

<p>
  <strong>Bs:</strong>
  <%= @diagnosis.bs %>
</p>

<p>
  <strong>Prescription:</strong>
  <%= @diagnosis.prescription %>
</p>
