<%= form_with(model: patient, local: true) do |form| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :patient_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :patient_phone, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :sex %>
    <%= form.select :sex, ['男', '女'],{}, {id: :patient_sex, class: 'form-control'} %>
  </div>



  <div class="form-group ">
    <%= form.label :birth_date %>
    <div class="form-row">
      <%= form.date_select :birth_date, {}, {class: 'form-control col'} %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :case_history %>
    <%= form.text_area :case_history, id: :patient_case_history, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit nil, {class: 'btn btn-primary' } %>
  </div>
<% end %>
