<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
<p>
  <strong>姓名:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>电话:</strong>
  <%= @patient.phone %>
</p>

<p>
  <strong>性别:</strong>
  <%= @patient.sex %>
</p>

<p>
  <strong>年龄:</strong>
  <%= @patient.age %>
</p>

<p>
  <strong>生日:</strong>
  <%= @patient.birth_date %>
</p>

<p>
  <strong>病史:</strong>
  <%= @patient.case_history %>
</p>
<hr/>
<%= link_to "增加记录", new_patient_diagnosis_path(@patient), remote: true,  class: 'btn btn-primary' %>
    <table class="table" style="margin-top: 10px;" id="diagnoses">
      <thead>
        <tr>
          <th>记录时间</th>
          <th>心率</th>
          <th>血压</th>
          <th>血糖</th>
          <th>处方</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @patient.diagnoses.order(id: :desc).each do |diagnosis| %>
          <tr>
            <td><%= diagnosis.updated_at.to_s %></td>
            <td><%= diagnosis.heart_rate %></td>
            <td><%= diagnosis.bp %></td>
            <td><%= diagnosis.bs %></td>
            <td><%= diagnosis.prescription %></td>
            <td><%= link_to 'Show', [@patient, diagnosis] %></td>
            <td><%= link_to 'Edit', edit_patient_diagnosis_path(@patient, diagnosis), remote: true %></td>
            <td><%= link_to 'Destroy', [@patient, diagnosis], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
